    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
		<p>
		<a href="http://leetusman.com" alt="Lee Tusman">Lee Tusman</a> and <a href="http//daniellichtman.com" alt="Daniel Lichtman">Daniel Lichtman</a> work collaboratively as part of Virtual Autonomous Zone.
		</p>
		  <p>
                    Based on the metaphor of Hakim Bey’s Temporary Autonomous Zones, the socio-political tactic of creating temporary spaces to evade formal structures of control, they create networked community spaces based on meeting spaces such as a squat, loft, community space, or campsite as inspiration. This project creates new spaces for collaborators to imagine their own online community meeting spaces, and that do not retain any personal data and operate outside of centralized forms of online commerce, surveillance and capitalism. 

		  </p>

                </div>
        </div>
    </section>
